<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        body{
            background: linear-gradient(135deg, #e05199, #9370DB);
            background-size: 100% 100%;
            background-attachment: fixed;
        }

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

    </style>
</head>
<body>
    <h1>Seu pedido foi efetuado com sucesso, {{nomeusuario}}! 😁</h1>
    <p><strong>A previsão de chegada é de 40 a 50 minutos. ⏰</strong></p>
    <p><strong>Não se preocupe, iremos atualizá-lo a cada passo. 😉</strong></p>
</body>
</html>